<?xml version="1.0"?>
<config>
    <modules>
        <Addedbytes_Adminbookmarks>
            <version>0.1.0</version>
        </Addedbytes_Adminbookmarks>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Addedbytes_Adminbookmarks before="Mage_Adminhtml">Addedbytes_Adminbookmarks_Adminhtml</Addedbytes_Adminbookmarks>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <addedbytesadminbookmarks>
                <class>Addedbytes_Adminbookmarks_Model</class>
                <resourceModel>addedbytesadminbookmarks_resource</resourceModel>
            </addedbytesadminbookmarks>
            <addedbytesadminbookmarks_resource>
                <class>Addedbytes_Adminbookmarks_Model_Resource</class>
                <entities>
                    <bookmark>
                        <table>bookmark</table>
                    </bookmark>
                </entities>
            </addedbytesadminbookmarks_resource>
            <addedbytesadminbookmarks_adminhtml>
                <class>Addedbytes_Adminbookmarks_Adminhtml_Model</class>
            </addedbytesadminbookmarks_adminhtml>
        </models>
        <helpers>
            <addedbytesadminbookmarks>
                <class>Addedbytes_Adminbookmarks_Helper</class>
            </addedbytesadminbookmarks>
        </helpers>
        <blocks>
            <addedbytesadminbookmarks>
                <class>Addedbytes_Adminbookmarks_Block</class>
            </addedbytesadminbookmarks>
        </blocks>
        <resources>
            <adminbookmarks_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </adminbookmarks_write>
            <adminbookmarks_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </adminbookmarks_read>
        </resources>
        <resources>
            <adminbookmarks_setup>
                <setup>
                    <module>Addedbytes_Adminbookmarks</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adminbookmarks_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <adminbookmarks>
                    <file>addedbytes_adminbookmarks.xml</file>
                </adminbookmarks>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <adminbookmarks translate="title" module="addedbytesadminbookmarks">
                                            <title>Added Bytes Admin Bookmarks</title>
                                            <sort_order>0</sort_order>
                                        </adminbookmarks>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <adminbookmarks>
            <adminbookmarks_options>
                <adminbookmarks_active>0</adminbookmarks_active>
            </adminbookmarks_options>
            <adminbookmarks_preferences>
                <adminbookmarks_confirmations>1</adminbookmarks_confirmations>
                <adminbookmarks_credits>1</adminbookmarks_credits>
            </adminbookmarks_preferences>
        </adminbookmarks>
    </default>
</config>
